</main>
</div>




<!--<footer class="footer text-muted">
      <div class="container">
          &copy; 2020 - OK3 - <a asp-area="" asp-page="/Privacy">Privacy</a>
      </div>
  </footer>-->
<script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>

<link rel="stylesheet" href="/css/custom.css" />
<script src="/js/site.js" asp-append-version="true"></script>
<script src="/js/trans.js" asp-append-version="true"></script>

<script>
  AOS.init();
</script>

<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

</body>

</html>


<!--  -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      ...
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary">Save changes</button>
    </div>
  </div>
</div>
</div>
