{{>header}}

<section id="top">

    <div class="text-center vertical" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="100"
      data-aos-offset="0">
      <h1 class="display-4 title" id="title" eo-translator="name"></h1>
      <p class="subtitle" id="sub"></p>
  
    </div>
  
      <div class="text-center float-btm" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="300"
      data-aos-offset="0">
  
      <div id="socialintrobox">
  
        <a href="#" onclick="alert('dandabs#2088')" class="white"><i class="bi-discord si" style="font-size: 3rem; color: white;"></i></a>
        <a href="https://github.com/dandabs" class="white"><i class="bi-github si" style="font-size: 3rem; color: white;"></i></a>
        <a href="https://instagram.com/thatfakefinn" class="white"><i class="bi-instagram si" style="font-size: 3rem; color: white;"></i></a>
        <a href="https://snapchat.com/add/oofitsdan" class="white"><i class="bi-snapchat si" style="font-size: 3rem; color: white;"></i></a>
        <a href="https://youtube.com/dandabs" class="white"><i class="bi-youtube si" style="font-size: 3rem; color: white;"></i></a>
  
      </div>
      
        <div class="arrow bounce">
          <a class="fa fa-arrow-down fa-2x" id="arrowhref" href="#intro"></a>
        </div>
  
    </div>
  
  </section>
  
  <section id="intro">
  
    <div class="row">
  
      <div class="col-lg-4 col-md-12" id="introimg">
  
      </div>
  
      <div class="col-lg-8 col-md-12" id="introcontent" data-aos="zoom-out">
  
        <p class="sectiontitle" eo-translator="introTitle"></p>
        <h4 class="sectiondesc" eo-translator="introDesc"></h4>
        <p class="sectioncontent convert-emoji" eo-translator="introBody1" eo-translator-html="true"></p>
        <p class="sectioncontent convert-emoji" eo-translator="introBody2"></p>
        <p class="sectioncontent convert-emoji" eo-translator="introBody3"></p>
        <p class="sectioncontent convert-emoji" eo-translator="introBody4"></p>
  
          <img src="/img/IMG_1716.png" id="introimg2">
  
      </div>
  
    </div>
  
  </section>
  
  
  <section id="languages">
  
    <div class="row">
  
      <div class="col-lg-8 col-md-12" id="languagescontent" data-aos="zoom-out">
  
        <p class="sectiontitle" eo-translator="langTitle"></p>
        <h4 class="sectiondesc" eo-translator="langDesc"></h4>
        <p class="sectioncontent convert-emoji" eo-translator="langBody1"></p>
        <p class="sectioncontent convert-emoji" eo-translator="langBody2"></p>
        <p class="sectioncontent convert-emoji" eo-translator="langBody3" eo-translator-html="true"></p>
        <p class="sectioncontent convert-emoji" eo-translator="langBody4"></p>
        <p class="sectioncontent convert-emoji" eo-translator="langBody5"></p>
  
          <img src="/img/2021-04-17_11.10.43.jpg" id="languagesimg2">
  
      </div>
  
      <div class="col-lg-4 col-md-12" id="languagesimg">
  
      </div>
  
    </div>
  
  </section>
  
  
  <section id="graphy">
  
    <div class="row">
  
      <div class="col-lg-4 col-md-12" id="graphyimg">
  
      </div>
  
      <div class="col-lg-8 col-md-12" id="graphycontent" data-aos="zoom-out">
  
        <p class="sectiontitle" eo-translator="graphTitle"></p>
        <h4 class="sectiondesc" eo-translator="graphDesc"></h4>
        <p class="sectioncontent convert-emoji" eo-translator="graphBody1" eo-translator-html="true"></p>
        <p class="sectioncontent convert-emoji" eo-translator="graphBody2"></p>
        <p class="sectioncontent convert-emoji" eo-translator="graphBody3"></p>
  
        <img src="/img/3205.jpg" id="graphyimg2">
  
      </div>
  
    </div>
  
  </section>
  
  <section id="programming">
  
    <div class="row">
  
      <div class="col-lg-8 col-md-12" id="programmingcontent" data-aos="zoom-out">
  
        <p class="sectiontitle" eo-translator="progTitle"></p>
        <h4 class="sectiondesc" eo-translator="progDesc"></h4>
        <p class="sectioncontent convert-emoji" eo-translator="progBody1"></p>
        <p class="sectioncontent convert-emoji" eo-translator="progBody2"></p>
        <p class="sectioncontent convert-emoji" eo-translator="progBody3"></p>
        <p class="sectioncontent convert-emoji" eo-translator="progBody4"></p>
  
          <img src="/img/IMG_4592.jpg" id="programmingimg2">
  
      </div>
  
      <div class="col-lg-4 col-md-12" id="programmingimg">
  
      </div>
  
    </div>
  
  </section>
  
  <section id="portfoliobutton">
  
    <div class="row nopadding">
  
              <div class="col-12" id="little">
  
        <div class="text-center" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="60"
          data-aos-offset="0">
          <h1 class="display-4 title" id="tm" eo-translator="secPortfolio"></h1>
          <p class="subtitle" id="sub">
  
            <button type="button" class="btn btn-outline-light" onclick="location.href='/portfolio'" eo-translator="btnView" eo-translator-html="true"></button>
  
          </p>
        </div>
  
      </div>
  
    </div>
  
  </section>
  
  <section id="teams">
  
    <div class="row">
  
      <div class="col-12">
  
        <div class="text-center" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="60"
          data-aos-offset="0">
          <h1 class="display-4 title" id="tm2" eo-translator="secTeams"></h1>
          <p class="subtitle" id="sub"></p>
        </div>
  
      </div>
  
    </div>
  
    <div class="row" id="cloudcraft">
  
      <div class="col-lg-9 col-md-12" id="cccontent" data-aos="zoom-in-up" data-aos-delay="120">
  
        <p class="sectiontitle" eo-translator="teamsTitle"></p>
        <h4 class="sectiondesc" eo-translator="teamTitle1"></h4>
        <p class="sectioncontent convert-emoji" eo-translator="teamDesc1_1"></p>
        <p class="sectioncontent convert-emoji" eo-translator="teamDesc1_2" eo-translator-html="true"></p>
        <p class="sectioncontent convert-emoji" eo-translator="teamDesc1_3"></p>
  
      </div>
  
      <div class="col-lg-3 col-md-12" id="cclogo">
  
      </div>
  
    </div>
  
  
  
    <div class="row" id="helsinkicruises">
  
      <div class="col-lg-3 col-md-12" id="hclogo">
  
      </div>
  
      <div class="col-lg-9 col-md-12" id="hccontent" data-aos="zoom-in-up" data-aos-delay="120">
  
        <p class="sectiontitle" eo-translator="teamsTitle"></p>
        <h4 class="sectiondesc" eo-translator="teamTitle2"></h4>
        <p class="sectioncontent convert-emoji" eo-translator="teamDesc2_1"></p>
        <p class="sectioncontent convert-emoji" eo-translator="teamDesc2_2"></p>
        <p class="sectioncontent convert-emoji" eo-translator="teamDesc2_3"></p>
        <p class="sectioncontent convert-emoji" eo-translator="teamDesc2_4"></p>
      </div>
  
    </div>
  
  
  
    <div class="row" id="mkcruises">
  
      <div class="col-lg-9 col-md-12" id="mkcontent" data-aos="zoom-in-up" data-aos-delay="120">
  
        <p class="sectiontitle" eo-translator="teamsTitle"></p>
        <h4 class="sectiondesc" eo-translator="teamTitle3"></h4>
        <p class="sectioncontent convert-emoji" eo-translator="teamDesc3_1" eo-translator-html="true"></p>
        <p class="sectioncontent convert-emoji" eo-translator="teamDesc3_2"></p>
        <p class="sectioncontent convert-emoji" eo-translator="teamDesc3_3"></p>
  
      </div>
  
      <div class="col-lg-3 col-md-12" id="mklogo">
  
      </div>
  
    </div>
  
  
    <div class="row" id="vedemostudios">
  
      <div class="col-lg-3 col-md-12" id="vslogo">
  
      </div>
  
      <div class="col-lg-9 col-md-12" id="vscontent" data-aos="zoom-in-up" data-aos-delay="120">
  
        <p class="sectiontitle" eo-translator="teamsTitle"></p>
        <h4 class="sectiondesc" eo-translator="teamTitle4"></h4>
        <p class="sectioncontent convert-emoji" eo-translator="teamDesc4_1"></p>
        <p class="sectioncontent convert-emoji" eo-translator="teamDesc4_2"></p>
        <p class="sectioncontent convert-emoji" eo-translator="teamDesc4_3"></p>
        <p class="sectioncontent convert-emoji" eo-translator="teamDesc4_4"></p>
      </div>
  
    </div>
  
  
    <div class="row" id="cringesquad">
  
      <div class="col-lg-9 col-md-12" id="cscontent" data-aos="zoom-in-up" data-aos-delay="120">
  
        <p class="sectiontitle" eo-translator="teamsTitle"></p>
        <h4 class="sectiondesc" eo-translator="teamTitle5"></h4>
        <p class="sectioncontent convert-emoji" eo-translator="teamDesc5_1"></p>
        <p class="sectioncontent convert-emoji" eo-translator="teamDesc5_2"></p>
        <p class="sectioncontent convert-emoji" eo-translator="teamDesc5_3"></p>
      </div>
  
      <div class="col-lg-3 col-md-12" id="cslogo">
  
      </div>
  
    </div>
  
  </section>
  
  <section id="groups">
  
    <div class="row">
  
      <div class="col-12">
  
        <div class="text-center" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="60"
          data-aos-offset="0">
          <h1 class="display-4 title" id="tm3" eo-translator="secGroups"></h1>
          <p class="subtitle" id="sub"></p>
        </div>
  
      </div>
  
    </div>
  
    <div class="row" id="coderdojo">
  
      <div class="col-lg-9 col-md-12" id="coderdojocontent" data-aos="zoom-in-up" data-aos-delay="120">
  
        <p class="sectiontitle" eo-translator="groupsTitle"></p>
        <h4 class="sectiondesc" eo-translator="groupTitle1"></h4>
        <p class="sectioncontent convert-emoji" eo-translator="groupDesc1_1"></p>
        <p class="sectioncontent convert-emoji" eo-translator="groupDesc1_2"></p>
        <p class="sectioncontent convert-emoji" eo-translator="groupDesc1_3" eo-translator-html="true"></p>
        <p class="sectioncontent convert-emoji" eo-translator="groupDesc1_4"></p>
  
      </div>
  
      <div class="col-lg-3 col-md-12" id="coderdojologo">
  
      </div>
  
    </div>
  
  
  
    <div class="row" id="scouts">
  
      <div class="col-lg-3 col-md-12" id="scoutslogo">
  
      </div>
  
      <div class="col-lg-9 col-md-12" id="scoutscontent" data-aos="zoom-in-up" data-aos-delay="120">
  
        <p class="sectiontitle" eo-translator="groupsTitle"></p>
        <h4 class="sectiondesc" eo-translator="groupTitle2"></h4>
        <p class="sectioncontent convert-emoji" eo-translator="groupDesc2_1"></p>
        <p class="sectioncontent convert-emoji" eo-translator="groupDesc2_2"></p>
        <p class="sectioncontent convert-emoji" eo-translator="groupDesc2_3"></p>
        <p class="sectioncontent convert-emoji" eo-translator="groupDesc2_4"></p>
  
      </div>
  
    </div>
  
  
  
    <div class="row" id="basc">
  
      <div class="col-lg-9 col-md-12" id="basccontent" data-aos="zoom-in-up" data-aos-delay="120">
  
        <p class="sectiontitle" eo-translator="groupsTitle"></p>
        <h4 class="sectiondesc" eo-translator="groupTitle3"></h4>
        <p class="sectioncontent convert-emoji" eo-translator="groupDesc3_1"></p>
        <p class="sectioncontent convert-emoji" eo-translator="groupDesc3_2"></p>
        <p class="sectioncontent convert-emoji" eo-translator="groupDesc3_3"></p>
  
      </div>
  
      <div class="col-lg-3 col-md-12" id="basclogo">
  
      </div>
  
    </div>
  
  
  
  </section>
  
  <section id="qualifbutton">
  
    <div class="row nopadding2">
  
              <div class="col-12" id="little">
  
        <div class="text-center" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="60"
          data-aos-offset="0">
          <h1 class="display-4 title" id="tm4" eo-translator="secQualifications"></h1>
          <p class="subtitle" id="sub">
  
            <button type="button" class="btn btn-outline-light" onclick="location.href='/qualifications'" eo-translator="btnView" eo-translator-html="true"></button>
  
          </p>
        </div>
  
      </div>
  
    </div>
  
  </section>
  
  <section id="social">
  
    <div class="row">
  
      <div class="col-12">
  
        <div class="text-center" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="60"
          data-aos-offset="0">
          <h1 class="display-4 title" id="smed" eo-translator="secSocial"></h1>
          <p class="subtitle" id="sub"></p>
        </div>
  
      </div>
  
    </div>
  
    <div class="row">
  
      <div class="col-md-12 col-lg-6">
  
        <iframe src="https://canary.discord.com/widget?id=530700173979025428&theme=dark" width="100%" height="700" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
  
      </div>
  
      <div class="col-md-12 col-lg-6">
  
        <iframe allow="autoplay *; encrypted-media *; fullscreen *" frameborder="0" height="700" style="width:100%;max-width:660px;overflow:hidden;background:transparent;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.music.apple.com/gb/playlist/april-2020/pl.u-WabZl53ud6rMxvl"></iframe>
  
      </div>
  
    </div>
  
  
      <div class="row">
  
      <div class="col-lg-4 col-md-12" id="contactimg">
  
      </div>
  
      <div class="col-lg-8 col-md-12" id="contactcontent" data-aos="zoom-out">
  
        <p class="sectiontitle" eo-translator="contTitle"></p>
        <h4 class="sectiondesc" eo-translator="contDesc"></h4>
        <p class="sectioncontent convert-emoji" eo-translator="contBody1"></p>
        <p class="sectioncontent convert-emoji" eo-translator="contBody2"></p>
        <p class="sectioncontent convert-emoji" eo-translator="contBody3" eo-translator-html="true"></p>
        <p class="sectioncontent convert-emoji" eo-translator="contBody4" eo-translator-html="true"></p>
        <p class="sectioncontent convert-emoji" eo-translator="contBody5" eo-translator-html="true"></p>
  
          <img src="/img/e16cfc4e-28eb-47ee-9fa8-033a1edb6338.jpg" id="contactimg2">
  
      </div>
  
    </div>
  
  </section>
  
  <script async src="https://embed.signbsl.com/widgets.js" charset="utf-8"></script>

  {{>footer}}