{{>header}}

<link rel="stylesheet" href="/css/portfolio.css" />

<section id="top">

    <div class="text-center vertical" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="100"
    data-aos-offset="0" id="eeee2">
    <h1 class="display-4 title" id="title" style="opacity: 0;">.</h1>
    <p class="subtitle" style="opacity: 0;">.</p>
    </div>

  <div class="text-center vertical" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="100"
    data-aos-offset="0" id="eeeee">
    <h1 class="display-4 title" id="title">PORTFOLIO</h1>
    <p class="subtitle">A showcase of the cool things I've worked on.</p>
  </div>

</section>

<section id="main" runat="server">

  <div class="container" runat="server">
    <div class="row" runat="server">

    <div class="col-2" id="sidebar">

      <a class="stitle active" data-filter="all">All Projects</a>

      <a class="stitle" data-filter="programming">Programming</a>
      <a class="item" data-filter="bukkitplugins">Bukkit Plugins</a>
      <a class="item" data-filter="websites">Websites</a>
      <a class="item" data-filter="mobileapps">Mobile Apps</a>
      <a class="item" data-filter="discordbots">Discord Bots</a>
      <a class="item" data-filter="robloxscripts">Roblox Scripts</a>
      <a class="item" data-filter="webapplications">Web Applications</a>

      <a class="stitle" data-filter="videography">Videography</a>
      <a class="item" data-filter="competitions">Competitions</a>
      <a class="item" data-filter="documentaries">Documentaries</a>
      <a class="item" data-filter="events">Events</a>
      <a class="item" data-filter="minecraftshowcases">Minecraft Showcases</a>
      <a class="item" data-filter="trailers">Trailers</a>
      <a class="item" data-filter="montages">Montages</a>
      <a class="item" data-filter="editingpractice">Editing Practice</a>

      <a class="stitle" data-filter="graphicdesign">Graphic Design</a>
      <a class="item" data-filter="filmposters">Film Posters</a>
      <a class="item" data-filter="posters">Posters</a>
      <a class="item" data-filter="logos">Logos</a>
      <a class="item" data-filter="books">Books</a>
    </div>

    <div class="col-10" id="content" runat="server">

      {{#projects}}
        <div class="col-lg-4 col-md-6 col-sm-12 e filter all {{tags}}" onclick="$('#{{id}}Modal').modal('toggle')">
          <div class="pfentry" style="background: rgba(40,40,40,0.9) url('{{image}}');">
            <div class="entrytext" id="test" runat="server">
             <p class="entrytitle">{{name}}</p>
             <p class="entrydesc">{{description}}</p>
           </div>
          </div>
       </div>
      {{/projects}}

    </div>

    </div>
  </div>

</section>


<!-- Modals -->

{{#projects}}
<div class="modal fade" id="{{id}}Modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <div class="container">

          <div class="row">

            <div class="col-5">

              {{#video}}
              <div class="row">
                <div class="col-12">
                  <iframe id="ytplayer" type="text/html" width="640" height="360" style="width:100%"
      src="https://www.youtube.com/embed/{{video}}?autoplay=0&origin=https://dandabs.fi"
      frameborder="0"></iframe>
                </div>
              </div>
              {{/video}}

              {{^video}}
              <img src="{{image}}" style="height: 100%; object-fit: cover;">
              {{/video}}

              

            </div>
            <div class="col-7">

              <p class="modalsectiontitle">Details</p>
              <p class="modalsectiondesc">
                <i class="fas fa-calendar-day fa-fw"></i>
                <span>Date:</span>{{date}}
              </p>
              <p class="modalsectiondesc">
                <i class="fas fa-language fa-fw"></i>
                <span>Language:</span>{{language}}
              </p>

              {{#codelang}}
              <p class="modalsectiondesc">
                <i class="fas fa-code fa-fw"></i>
                <span>Language:</span>{{codelang}}
              </p>
              {{/codelang}}

              <p class="modalsectiondesc">
                <i class="fas fa-hands-helping fa-fw"></i>
                <span>Commissioned by:</span>

                {{#commission.url}}
                  <a href="{{commission.url}}">{{commission.name}}</a>
                {{/commission.url}}

                {{^commission.url}}
                  {{commission.name}}
                {{/commission.url}}

              </p>

              {{#video}}
              <p class="modalsectiondesc">
                <i class="fab fa-youtube fa-fw"></i>
                <span>Video:</span><a href="https://youtube.com/watch?v={{video}}">https://youtube.com/watch?v={{video}}</a>
              </p>
              {{/video}}

              {{#infolink}}
              <p class="modalsectiondesc">
                <i class="fas fa-globe-europe fa-fw"></i>
                <span>Information:</span><a href="{{infolink}}">{{infolink}}</a>
              </p>
              {{/infolink}}

              {{#credits}}
              <p class="modalsectiondesc">
                <i class="fas fa-scroll fa-fw"></i>
                <span>Credits:</span>{{credits}}
              </p>
              {{/credits}}
              
              {{#frameworks.length}}
              <div class="descitem">
              <p class="modalsectiondesc">
                <i class="fas fa-microchip fa-fw"></i>
                <span>Frameworks:</span><p class="itemtext">{{#frameworks}}, <a href="{{url}}">{{name}}</a>{{/frameworks}}</p>
              </p>
              </div>
              {{/frameworks.length}}

              {{#services.length}}
              <div class="descitem">
              <p class="modalsectiondesc">
                <i class="fas fa-cogs fa-fw"></i>
                <span>Services:</span><p class="itemtext">{{#services}}, <a href="{{url}}">{{name}}</a>{{/services}}</p>
              </p>
            </div>
            {{/services.length}}

            {{#repositories.length}}
            <div class="descitem">
              <p class="modalsectiondesc">
                <i class="fab fa-github fa-fw"></i>
                <span>GitHub repository:</span><p class="itemtext">{{#repositories}}, <a href="https://github.com/{{repo}}">{{repo}}</a>{{/repositories}}</p>
              </p>
            </div>
            {{/repositories.length}}

              {{#blogpost}}
              <p class="modalsectiondesc">
                <button type="button" class="btn btn-outline-light" style="width: 100%;">Read the blog post &#10230;</button>
              </p>
              {{/blogpost}}

            </div>

          </div>

        </div>

      </div>
    </div>
  </div>
</div>
{{/projects}}

<script src="/js/portfolio.js"></script>

{{>footer}}