{{>header}}

<link rel="stylesheet" href="/css/portfolio.css" />

<section id="top">

    <div class="text-center vertical" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="100"
    data-aos-offset="0" id="eeee2">
    <h1 class="display-4 title" id="title" style="opacity: 0;">.</h1>
    <p class="subtitle" style="opacity: 0;">.</p>
    </div>

  <div class="text-center vertical" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="100"
    data-aos-offset="0" id="eeeee">
    <h1 class="display-4 title" id="title">PORTFOLIO</h1>
    <p class="subtitle">A showcase of the cool things I've worked on.</p>
  </div>

</section>

<section id="main" runat="server">

  <div class="container" runat="server">
    <div class="row" runat="server">

    <div class="col-2" id="sidebar">

      <a class="stitle active" data-filter="all">All Projects</a>

      <a class="stitle" data-filter="programming">Programming</a>
      <a class="item" data-filter="bukkitplugins">Bukkit Plugins</a>
      <a class="item" data-filter="websites">Websites</a>
      <a class="item" data-filter="mobileapps">Mobile Apps</a>
      <a class="item" data-filter="discordbots">Discord Bots</a>
      <a class="item" data-filter="robloxscripts">Roblox Scripts</a>
      <a class="item" data-filter="webapplications">Web Applications</a>

      <a class="stitle" data-filter="videography">Videography</a>
      <a class="item" data-filter="competitions">Competitions</a>
      <a class="item" data-filter="documentaries">Documentaries</a>
      <a class="item" data-filter="events">Events</a>
      <a class="item" data-filter="minecraftshowcases">Minecraft Showcases</a>
      <a class="item" data-filter="trailers">Trailers</a>
      <a class="item" data-filter="montages">Montages</a>
      <a class="item" data-filter="editingpractice">Editing Practice</a>

      <a class="stitle" data-filter="graphicdesign">Graphic Design</a>
      <a class="item" data-filter="filmposters">Film Posters</a>
      <a class="item" data-filter="posters">Posters</a>
      <a class="item" data-filter="logos">Logos</a>
      <a class="item" data-filter="books">Books</a>
    </div>

    <div class="col-10" id="content" runat="server">

      <div class="col-lg-4 col-md-6 col-sm-12 e filter all programming discordbots webapplications" onclick="$('#sedöModal').modal('toggle')">
        <div class="pfentry" style="background: rgba(40,40,40,0.9) url('../img/hcbot.jpg');">
          <div class="entrytext" id="test" runat="server">
            <p class="entrytitle">Sedö</p>
            <p class="entrydesc">Nodejs Discord-Roblox verification bot with web interface and Firebase integration</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12 e filter all programming bukkitplugins" onclick="$('#provincepluginModal').modal('toggle')">
        <div class="pfentry" style="background: rgba(40,40,40,0.9) url('../img/furaipan.jpg');">
          <div class="entrytext">
            <p class="entrytitle">ProvincePlugin</p>
            <p class="entrydesc">Country- and monarchy-themed Minecraft gameplay plugin</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12 e filter all programming bukkitplugins webapplications mobileapps" onclick="$('#vesisikaModal').modal('toggle')">
        <div class="pfentry" style="background: rgba(40,40,40,0.9) url('../img/vesisika.jpg');">
          <div class="entrytext">
            <p class="entrytitle">Vesisika</p>
            <p class="entrydesc">iOS and Android app for Minecraft and other small gaming communities</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12 e filter all programming webapplications">
        <div class="pfentry" style="background: rgba(40,40,40,0.9) url('../img/aktiv.jpg');">
          <div class="entrytext">
            <p class="entrytitle">Aktiv NY</p>
            <p class="entrydesc">Expressjs Finnish blog-type web application</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12 e filter all programming robloxscripts">
        <div class="pfentry" style="background: rgba(40,40,40,0.9) url('../img/birka.jpg');">
          <div class="entrytext">
            <p class="entrytitle">Birka Stockholm Elevators</p>
            <p class="entrydesc">Very simple Lua elevator scripts for Roblox cruise-ferry group Birka Cruises</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12 e filter all programming websites">
        <div class="pfentry" style="background: rgba(40,40,40,0.9) url('../img/xpsite.jpg');">
          <div class="entrytext">
            <p class="entrytitle">Personal Site (XP Edition)</p>
            <p class="entrydesc">Windows 95/XP themed personal website (the version of danielonline.net before the current one)</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12 e filter all programming webapplications bukkitplugins discordbots">
        <div class="pfentry" style="background: rgba(40,40,40,0.9) url('../img/hatson.jpg');">
          <div class="entrytext">
            <p class="entrytitle">CCEssentials</p>
            <p class="entrydesc">SAO-themed all-in-one Minecraft plugin, Discord bot and Web application</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12 e filter all videography competitions">
        <div class="pfentry" style="background: rgba(40,40,40,0.9) url('../img/breadcomp.jpg');">
          <div class="entrytext">
            <p class="entrytitle">Irwin's Bakery "Win Some Dough" Competition</p>
            <p class="entrydesc">Winning entry on behalf of Slemish College, Ballymena</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12 e filter all videography competitions">
        <div class="pfentry" style="background: rgba(40,40,40,0.9) url('../img/firstcomp.jpg');">
          <div class="entrytext">
            <p class="entrytitle">EA Plastic in Schools Competition</p>
            <p class="entrydesc">Winning entry on behalf of Slemish College, Ballymena</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12 e filter all videography events">
        <div class="pfentry" style="background: rgba(40,40,40,0.9) url('../img/ceremstage.jpg');">
          <div class="entrytext">
            <p class="entrytitle">Yet Another Ceremony</p>
            <p class="entrydesc">Minecraft server anniversary ceremony & talk show</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12 e filter all videography trailers">
        <div class="pfentry" style="background: rgba(40,40,40,0.9) url('../img/ceremstage.jpg');">
          <div class="entrytext">
            <p class="entrytitle">Yet Another Ceremony Trailer</p>
            <p class="entrydesc">Trailer for Minecraft server anniversary ceremony & talk show</p>
          </div>
        </div>
      </div>

    </div>

    </div>
  </div>

</section>

<!-- Coding Modals -->

<div class="modal fade" id="sedöModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Sedö</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <div class="container">

          <div class="row">

            <div class="col-6">

              <img src="/img/hcbot.jpg">

            </div>
            <div class="col-6">

              <p class="modalsectiontitle">Details</p>
              <p class="modalsectiondesc">
                <i class="fas fa-calendar-day fa-fw"></i>
                <span>Date:</span>April 8, 2020 – April 21, 2020
              </p>
              <p class="modalsectiondesc">
                <i class="fas fa-language fa-fw"></i>
                <span>Language:</span>English
              </p>
              <p class="modalsectiondesc">
                <i class="fas fa-code fa-fw"></i>
                <span>Language:</span>Nodejs
              </p>
              <p class="modalsectiondesc">
                <i class="fas fa-microchip fa-fw"></i>
                <span>Frameworks:</span>Discordjs
              </p>
              <p class="modalsectiondesc">
                <i class="fas fa-cogs fa-fw"></i>
                <span>Services:</span>Google Firebase
              </p>
              <p class="modalsectiondesc">
                <i class="fas fa-hands-helping fa-fw"></i>
                <span>Commissioned by:</span>Helsinki Cruises (Laatikkoxx)
              </p>
              <p class="modalsectiondesc">
                <i class="fab fa-github fa-fw"></i>
                <span>GitHub repository:</span><a href="https://github.com/dandabs/sedo">dandabs/Sedo</a>
              </p>

            </div>

          </div>

        </div>

      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="provincepluginModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">ProvincePlugin</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <div class="container">

          <div class="row">

            <div class="col-6">

              <img src="/img/furaipan.jpg">

            </div>
            <div class="col-6">

              <p class="modalsectiontitle">Details</p>
              <p class="modalsectiondesc">
                <i class="fas fa-calendar-day fa-fw"></i>
                <span>Date:</span>December 26, 2019 – November 6, 2020
              </p>
              <p class="modalsectiondesc">
                <i class="fas fa-language fa-fw"></i>
                <span>Language:</span>English
              </p>
              <p class="modalsectiondesc">
                <i class="fas fa-code fa-fw"></i>
                <span>Language:</span>Java
              </p>
              <p class="modalsectiondesc">
                <i class="fas fa-microchip fa-fw"></i>
                <span>Frameworks:</span>CraftBukkit, Spigot
              </p>
              <p class="modalsectiondesc">
                <i class="fas fa-cogs fa-fw"></i>
                <span>Services:</span>Gitlab CI
              </p>
              <p class="modalsectiondesc">
                <i class="fas fa-hands-helping fa-fw"></i>
                <span>Commissioned by:</span>CloudCraft
              </p>
              <p class="modalsectiondesc">
                <i class="fab fa-github fa-fw"></i>
                <span>GitHub repository:</span><a href="https://github.com/dandabs/provinceplugin">dandabs/ProvincePlugin</a>
              </p>

            </div>

          </div>

        </div>

      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="vesisikaModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Vesisika</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <div class="container">

          <div class="row">

            <div class="col-6">

              <img src="/img/vesisika.jpg">

            </div>
            <div class="col-6">

              <p class="modalsectiontitle">Details</p>
              <p class="modalsectiondesc">
                <i class="fas fa-calendar-day fa-fw"></i>
                <span>Date:</span>May 17, 2020 - February 2, 2021
              </p>
              <p class="modalsectiondesc">
                <i class="fas fa-language fa-fw"></i>
                <span>Language:</span>English, Finnish, Swedish, Norwegian Bokmål, Danish, Arabic, Japanese, Spanish, Lithuanian, Chinese, German
              </p>
              <p class="modalsectiondesc">
                <i class="fas fa-code fa-fw"></i>
                <span>Language:</span>Nodejs | Java
              </p>
              <p class="modalsectiondesc">
                <i class="fas fa-microchip fa-fw"></i>
                <span>Frameworks:</span>React-Native, Expo | CraftBukkit, Spigot
              </p>
              <p class="modalsectiondesc">
                <i class="fas fa-cogs fa-fw"></i>
                <span>Services:</span>Google Firebase, App Store Connect, MySQL
              </p>
              <p class="modalsectiondesc">
                <i class="fas fa-hands-helping fa-fw"></i>
                <span>Commissioned by:</span>nobody :)
              </p>
              <p class="modalsectiondesc">
                <i class="fab fa-github fa-fw"></i>
                <span>GitHub repository:</span><a href="https://github.com/dandabs/Vesisika">dandabs/Vesisika</a>, <a href="https://github.com/dandabs/VesisikaSpigot">dandabs/VesisikaSpigot</a>, <a href="https://github.com/dandabs/VesisikaVerify">dandabs/VesisikaVerify</a>, <a href="https://github.com/dandabs/VesisikaAPI">dandabs/VesisikaAPI</a>
              </p>

            </div>

          </div>

        </div>

      </div>
    </div>
  </div>
</div>

<script src="/js/portfolio.js"></script>

{{>footer}}