{{>header}}

<link rel="stylesheet" href="/css/post.css" />

<section id="top">

    <div class="text-center vertical" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="100"
    data-aos-offset="0" id="eeee2">
    <h1 class="display-4 title" id="title" style="opacity: 0;">.</h1>
    <p class="subtitle" style="opacity: 0;">.</p>
    </div>

  <div class="text-center vertical" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="100"
    data-aos-offset="0" id="eeeee">
    <h1 class="display-4 title" id="title">Hello, world!</h1>
    <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  </div>

</section>

<section id="main" runat="server">

  <div class="container" runat="server">
    <div class="row" runat="server">
    <div class="col-3">
        <p>
            <i class="fas fa-calendar-week fa-fw"></i>
            <span class="thick">Posted:</span><span>HOO</span>
          </p>
    </div>
    <div class="col-3">
        <p>
            <i class="fas fa-calendar-minus fa-fw"></i>
            <span class="thick">Edited:</span><span>HOO</span>
          </p>
    </div>
    <div class="col-3">
        <p>
            <i class="fas fa-walking fa-fw"></i>
            <span class="thick">Author:</span><span>HOO</span>
          </p>
    </div>
    <div class="col-3">
        <p>
            <i class="fas fa-tags fa-fw"></i>
            <span class="thick">Tags:</span><span>HOO</span>
          </p>
    </div>
    </div>
  </div>

</section>

<script src="/js/post.js"></script>

{{>footer}}