{{>header}}
<link rel="stylesheet" href="/css/qualifications.css" />

<section id="top">

    <div class="text-center vertical" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="100"
        data-aos-offset="0" id="eeee2">
        <h1 class="display-4 title" id="title" style="opacity: 0;">.</h1>
        <p class="subtitle" style="opacity: 0;">.</p>
    </div>

    <div class="text-center vertical" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="100"
        data-aos-offset="0" id="eeeee">
        <h1 class="display-4 title" id="title">QUALIFICATIONS + EXPERIENCE</h1>
        <p class="subtitle">A list of the qualifications, certificates and experience I've acquired.</p>
    </div>

</section>

<section id="main">

    <div class="container">
        <div class="row" id="secondaryeducation">
            <div class="col-12">
                <p class="sectiontitle">QUALIFICATIONS</p>
                <h4 class="sectiondesc">Secondary Education</h4>

                <table class="setable">
                    <tr>
                        <th style="width:10%;">Board</th>
                        <th style="width:10%;">Level</th>
                        <th style="width:10%;">Grade</th>
                        <th style="width:40%;">Title</th>
                        <th style="width:20%;">Date Completed</th>
                        <th style="width:10%;">Information</th>
                    </tr>

                    <tr>
                        <td>CCEA</td>
                        <td>GCSE</td>
                        <td>A<sup>†</sup></td>
                        <td>English Language</td>
                        <td>Summer 2022</td>
                        <td><a
                                href="https://ccea.org.uk/key-stage-4/gcse/subjects/gcse-english-language-2017">ccea.org.uk</a>
                        </td>
                    </tr>

                    <tr>
                        <td>CCEA</td>
                        <td>GCSE</td>
                        <td>A*<sup>†</sup></td>
                        <td>English Literature</td>
                        <td>Summer 2022</td>
                        <td><a
                                href="https://ccea.org.uk/key-stage-4/gcse/subjects/gcse-english-literature-2017">ccea.org.uk</a>
                        </td>
                    </tr>

                    <tr>
                        <td>CCEA</td>
                        <td>GCSE</td>
                        <td>A<sup>†</sup></td>
                        <td>Further Mathematics</td>
                        <td>Summer 2022</td>
                        <td><a
                                href="https://ccea.org.uk/key-stage-4/gcse/subjects/gcse-further-mathematics-2017">ccea.org.uk</a>
                        </td>
                    </tr>

                    <tr>
                        <td>CCEA</td>
                        <td>GCSE</td>
                        <td>A<sup>†</sup></td>
                        <td>Mathematics</td>
                        <td>Summer 2022</td>
                        <td><a
                                href="https://ccea.org.uk/key-stage-4/gcse/subjects/gcse-mathematics-2017">ccea.org.uk</a>
                        </td>
                    </tr>

                    <tr>
                        <td>CCEA</td>
                        <td>GCSE</td>
                        <td>BB<sup>†</sup></td>
                        <td>Double Award Science</td>
                        <td>Summer 2022</td>
                        <td><a
                                href="https://ccea.org.uk/key-stage-4/gcse/subjects/gcse-science-double-award-2017">ccea.org.uk</a>
                        </td>
                    </tr>

                    <tr>
                        <td>CCEA</td>
                        <td>GCSE</td>
                        <td>A<sup>†</sup></td>
                        <td>Geography</td>
                        <td>Summer 2022</td>
                        <td><a href="https://ccea.org.uk/key-stage-4/gcse/subjects/gcse-geography-2017">ccea.org.uk</a>
                        </td>
                    </tr>

                    <tr>
                        <td>CCEA</td>
                        <td>GCSE</td>
                        <td>A*<sup>†</sup></td>
                        <td>Digital Technology</td>
                        <td>Summer 2022</td>
                        <td><a
                                href="https://ccea.org.uk/key-stage-4/gcse/subjects/gcse-digital-technology-2017">ccea.org.uk</a>
                        </td>
                    </tr>

                    <tr>
                        <td>CCEA</td>
                        <td>GCSE</td>
                        <td>A*<sup>†</sup></td>
                        <td>Business & Communications Systems</td>
                        <td>Summer 2022</td>
                        <td><a
                                href="https://ccea.org.uk/key-stage-4/gcse/subjects/gcse-business-and-communication-systems-2017">ccea.org.uk</a>
                        </td>
                    </tr>

                    <tr>
                        <td>OCN</td>
                        <td>GCSE</td>
                        <td>C<sup>†</sup></td>
                        <td>Religious Studies</td>
                        <td>Summer 2022</td>
                        <td><a
                                href="https://www.ocnni.org.uk/qualifications/ocn-ni-level-2-certificate-in-religious-studies-60303414/">ocnni.org.uk</a>
                        </td>
                    </tr>

                </table>
                <p class="subtext"><sup>†</sup> predicted / 'working at' grades (not officially issued)</p>

            </div>
        </div>

        <div class="row" id="extracurricular">
            <div class="col-12">
                <p class="sectiontitle">QUALIFICATIONS</p>
                <h4 class="sectiondesc">Extra-curricular</h4>

                <table class="setable">
                    <tr>
                        <th style="width:10%;">Board</th>
                        <th style="width:10%;">Level</th>
                        <th style="width:10%;">Grade</th>
                        <th style="width:40%;">Title</th>
                        <th style="width:20%;">Date Completed</th>
                        <th style="width:10%;">Information</th>
                    </tr>

                    <tr>
                        <td>QUFARO</td>
                        <td>CoA</td>
                        <td>N/A</td>
                        <td>Headstart in Cyber Security</td>
                        <td>September 2020</td>
                        <td><a
                                href="https://ccea.org.uk/key-stage-4/gcse/subjects/gcse-english-language-2017">ccea.org.uk</a>
                        </td>
                    </tr>

                </table>

            </div>
        </div>

        <div class="row" id="courses">
            <div class="col-12">
                <p class="sectiontitle">EXPERIENCE</p>
                <h4 class="sectiondesc">Courses</h4>

                <table class="setable">
                    <tr>
                        <th style="width:30%;">Company</th>
                        <th style="width:40%;">Title</th>
                        <th style="width:20%;">Date</th>
                        <th style="width:10%;">Information</th>
                    </tr>

                    <tr>
                        <td>Smallpeice, NCSC (GCHQ), QA</td>
                        <td>CyberFirst Futures</td>
                        <td>12 - 23 July 2021</td>
                        <td><a
                                href="https://www.smallpeicetrust.org.uk/cyberfirst-futures">smallpeice trust.org.uk</a>
                        </td>
                    </tr>


                    <tr>
                        <td>Kainos</td>
                        <td>CodeCamp 2021</td>
                        <td>16 - 20 August 2021</td>
                        <td><a
                                href="https://www.kainos.com/insights/events/codecamp-2021">kainos.com</a>
                        </td>
                    </tr>

                </table>

            </div>
        </div>

        <div class="row" id="workexperience">
            <div class="col-12">
                <p class="sectiontitle">EXPERIENCE</p>
                <h4 class="sectiondesc">Work Experience</h4>

                <table class="setable">
                    <tr>
                        <th style="width:70%;">Company</th>
                        <th style="width:20%;">Date</th>
                        <th style="width:10%;">Information</th>
                    </tr>

                    <tr>
                        <td>Kainos</td>
                        <td>16 - 18 June 2021</td>
                        <td><a
                                href="https://www.kainos.com/careers/kainos-academy">kainos.com</a>
                        </td>
                    </tr>

                </table>

            </div>
        </div>

    </div>

</section>

{{>footer}}