section#top {
    height: calc(30vh) !important;
    z-index: -1;
}

#eeeee {
    left: 0;
    padding-left: 0;
}

#eeee2 {
    width: 100vw;
    height: 30vh;
    position: absolute;
    left: 0;
    padding-left: 0;
    top: 15vh;
    background-image: linear-gradient(to bottom, rgba(10,10,10,0) 70%, rgba(10,10,10, 1)), url('../img/IMG_7106.JPG');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    filter: grayscale(100%);
    opacity: 0.4;
}

section {
    padding-top:3%;
}

div#sidebar {
    border-right: 2px solid white;
    text-align: right;
}

a.item {
    color: rgba(192, 192, 192, 0.5) !important;
    font-family: 'Maven Pro', 'sans-serif';

    margin-top: 0px;
    margin-bottom: 5px;

    display: block;
    cursor: pointer;
}

a.item.active {
    color: rgb(192, 192, 192) !important;
}

a.stitle.active {
    color: rgb(255, 255, 255) !important;
}

a.stitle {
    color: rgba(255, 255, 255, 0.5) !important;
    margin-top: 30px;
    margin-bottom: 10px;

    display: block;
    cursor: pointer;
}

div#content {
    display: flex;
    flex-wrap: wrap;
}

.pfentry {
    background-blend-mode: multiply;
    background-position: center center !important;
    background-size: cover !important;
    height: 100%;
    /*width: 30%;*/
    margin: 1%;
    border-radius: 10px;
    position: relative;
    filter: grayscale(100%);
    cursor: pointer;
}

.entrytext {
    
    bottom: 0;
    text-align: center;
}

.entrydesc {
    color: rgb(192, 192, 192);
    font-family: 'Maven Pro', 'sans-serif';
    position: absolute;
    bottom: 0;
}

.entrytitle {
    font-size: 1.5rem;
    text-align: top !important;
    padding-top: 5%;
}

.e {
    overflow: hidden;
    margin-bottom: 3%;
    height: 300px;
}

.section#main {
    margin-bottom: 0 !important;
}

.row {
    padding-bottom: 0 !important;
}

.modal-content {
    background-color: #0a0a0a;
}

.close {
    color: #fff !important;
}

img {
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%) !important;
}

.modal-dialog {
    max-width: 70vw !important;
}

span {
    margin-right: 5px;
    /*font-family: 'Maven Pro', 'sans-serif';
    color: rgb(192, 192, 192);*/
    font-family: 'Maven Pro', 'sans-serif';
    color: rgb(192, 192, 192);
}

.pfentry:hover {
    -webkit-filter: brightness(70%);
    -webkit-opacity: 1;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
